<h3>Products List</h3>
<div class="col row justify-content-end">
  <button type="button" class="btn btn-primary mb-2" [routerLink]="['/app/products/new-product', idProvider]"><i class="fas fa-plus"></i> New Product</button>
</div>

<div class="row row-cols-1 row-cols-md-4">
    <app-product-card *ngFor="let product of listProducts" [product]="product" (delete)="getListProduct()" ></app-product-card>
</div>
