<h3>Promotions List close to expiring</h3>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Discount</th>        
            <th scope="col">Activation - Expiration Date</th>
            <th scope="col">Status</th>
            <th scope="col">Products</th>
          </tr>
    </thead>
    <tbody *ngFor="let promotion of list; let index = index">
        <tr>
          <th scope="row">{{index + 1 }}</th>
          <td>{{promotion.name}}</td>
          <td>{{promotion.discount}}</td>
          <td>{{promotion.startDate | date: "dd/MM/yyyy"}} - {{promotion.endDate | date: "dd/MM/yyyy"}}</td>
          <td>{{promotion.status}}</td>
          <td>
            <a class="mx-2" [routerLink]="['/app/promotions/products', promotion.id]"><i class="fas fa-clipboard-list"></i></a>
          </td>
      </tr>
    </tbody>
  </table>
</div>