<h3>Providers List</h3>
<div class="col row justify-content-end">
  <button type="button" class="btn btn-primary mb-2" [routerLink]="['/app/providers/new-provider']"><i class="fas fa-plus"></i> New Provider</button>
</div>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Cellphone</th>        
        <th scope="col">Company</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let provider of list; let index = index">
      <tr>
        <th scope="row">{{index + 1 }}</th>
        <td>{{provider.name}}</td>
        <td>{{provider.cellphone}}</td>
        <td>{{provider.company}}</td>
        <td><a [routerLink]="['/app/providers/edit-provider', provider.id]"><i class="fas fa-edit"></i></a>
            <a class="mx-2" (click)="deleteProvider(provider.id)"><i class="fas fa-trash"></i></a>
            <a class="mx-2" [routerLink]="['/app/products/provider', provider.id]"><i class="fas fa-clipboard-list"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
