<h3>Products List</h3><br>
<button type="button" class="btn btn-primary m-2" [routerLink] = "['/app/promotions/productExpirationlist']" >Back</button>
<div class="row row-cols-1 row-cols-md-4">
    <div *ngFor="let product of listProducts">
    <div class="col mb-4">
        <div class="card" >
            <img [src]="product.image" class="card-img-top img">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{product.code}}</h6>
              <p class="card-text">{{product.cost}} Bs.</p>
            </div>
        </div>
    </div>
    </div>
</div>
