<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Productos Seleccionados</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="container">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let select of selectedProducts">
                <th>{{select.name}}</th>
                <td>{{select.price}}</td>
                <td>
                  <a class="mx-2" (click)="quitarProducto(select)"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); saveOrder()">Generar orden de compra</button>
    </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ver Productos Seleccionados</button>
<hr>
