<form [formGroup]="promotionForm" (ngSubmit)="editPromotion()">
    <div>
        <label for="">Name</label>
        <input class="form-control mb-2" type="text" formControlName="name" [ngClass]="{ 'is-invalid': ( name.touched ) && name.errors }">
        <div *ngIf="(name.touched ) && name.errors" class="invalid-feedback">
            <span *ngIf="name.errors.required">The name field is required</span>
        </div>
    </div>
    <div>
        <label for="">Discount</label>
        <input class="form-control mb-2" type="text" formControlName="discount" [ngClass]="{ 'is-invalid': ( discount.touched ) && discount.errors }">
        <div *ngIf="(discount.touched ) && discount.errors" class="invalid-feedback">
            <span *ngIf="discount.errors.required">The discount field is required</span>
        </div>
    </div>
    <div *ngIf="promotion">
        <label for="">Status</label>
        <input class="form-control mb-2" [value]="promotion.status" readonly>
    </div>
    <div>
        <label for="">Activation Date</label>
        <input class="form-control mb-2" type="date" formControlName="startDate" [ngClass]="{ 'is-invalid': ( startDate.touched ) && startDate.errors }">
        <div *ngIf="(startDate.touched ) && startDate.errors" class="invalid-feedback">
            <span *ngIf="startDate.errors.required">The activation date field is required</span>
        </div>
    </div>
    <div>
        <label for="">Expiration Date</label>
        <input class="form-control mb-2" type="date" formControlName="endDate" [ngClass]="{ 'is-invalid': ( endDate.touched ) && endDate.errors }">
        <div *ngIf="(endDate.touched ) && endDate.errors" class="invalid-feedback">
            <span *ngIf="endDate.errors.required">The expiration date field is required</span>
            <span *ngIf="endDate.errors.dateLessThan">The expiration date can't be greater than activation date</span>
        </div>
    </div>
    <div formArrayName="products">
        <div *ngFor="let product of products.controls; let i=index">
            <label *ngIf="i === 0"> Products</label>
            <div class="row">
                <div class="col-md-9">
                    <select class="form-control" [formControlName]="i" [ngClass]="{ 'is-invalid': product.touched && product.errors }">
                        <option [value]="product.id" *ngFor="let product of productList">{{product.name}}</option>
                    </select>
                    <div *ngIf="product.touched && product.errors && i === 0" class="invalid-feedback">
                        <span *ngIf="product.errors.required">El campo no puede estar vacío</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="mx-2" (click)="addProduct()"><i class="fas fa-plus"></i></a>
                    <a *ngIf="i !== 0" class="mx-2" (click)="deleteProduct(i)"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="promotionForm.invalid">Edit Promotion</button>
        <a [routerLink] = "['/app/promotions']" class="mx-2">Back</a>
    </div>
</form>