<div *ngIf="purchase_order">
    <p>
        Total Amount: {{ purchase_order.totalAmount +" Bs"}}
    </p>
    <p *ngIf="user">
        Name User: {{ user.name}}
    </p>
</div>
<div class="row row-cols-1 row-cols-md-2">
<div *ngFor="let product of listProduct  index as productId">
    <h3>
		<a class="text-primary">
			{{ product.name }}
		</a>
	</h3>
    <img [src]="product.image" class="card-img-top img">

	<p *ngIf="product.code">
		Code: {{ product.code }}
	</p>
    
	<p *ngIf="product.price">
		Price: {{ product.price+" Bs" }}
	</p>
    <p *ngIf="provider?.company">
        Provider Company: {{ provider.company}}
    </p>
    <p *ngIf="provider?.cellphone">
        Provider Number: {{ provider.cellphone}}
    </p>

<hr>
</div>
</div>