<h3>Promotions List</h3>
<div class="col row justify-content-between">
    <div class="col-md-4">
      <select class="form-control" [formControl]="formStatus">
        <option value="">Select Promotion...</option>
        <option *ngFor="let status of listStatus">{{ status }}</option>
      </select>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary m-2" [routerLink]="['/app/promotions/productExpirationlist']">Expiration Promotions</button>
        <button type="button" class="btn btn-primary m-2" [routerLink]="['/app/promotions/register']"><i class="fas fa-plus"></i> New Promotion</button>
    </div>
</div>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Discount</th>        
        <th scope="col">Activation - Expiration Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let promotion of list; let index = index">
      <tr>
        <th scope="row">{{index + 1 }}</th>
        <td>{{promotion.name}}</td>
        <td>{{promotion.discount}}</td>
        <td>{{promotion.startDate | date: "dd/MM/yyyy"}} - {{promotion.endDate | date: "dd/MM/yyyy"}}</td>
        <td>{{promotion.status}}</td>
        <td>
            <a class="mx-2" *ngIf= "promotion.status === active" (click)= "changeStatus(promotion.id)"><i class="fas fa-check-circle"></i></a>
            <a class="mx-2" [routerLink]="['/app/promotions/edit', promotion.id]"><i class="fas fa-edit"></i></a>
            <a class="mx-2" (click)= "deletePromotion(promotion.id)"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
