body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 1, 1, 0.1)
}

.card {
  border: none;
  border-radius: 0;
  width: 420px !important;
  margin: 0 auto
}

.signup {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px 50px
}

a {
  text-decoration: none !important
}

h5 {
  color: var(--primary);
  margin-bottom: 3px;
  font-weight: bold
}

small {
  color: rgba(0, 0, 0, 0.3)
}

input {
  width: 100%;
  display: block;
  margin-bottom: 7px
}

.form-control {
  border: 1px solid var(--primary);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, .075);
  letter-spacing: 1px
}

.form-control:focus {
  border: 0.5px solid var(--primary);
  border-radius: 30px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, .075);
  color: #000;
  letter-spacing: 1px
}

.btn {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, var(--primary) 0%, rgb(29, 6, 160) 100%);
  background: -webkit-linear-gradient(left, var(--primary) 0%, rgba(29, 6, 160) 100%)
}

span.text-center {
  color: rgba(0, 0, 0, 0.3)
}
