<div class="container">
  <div class="row">
      <div class="col-md-6 mx-auto py-4 px-0">
          <div class="card p-0">
              <div class="card-title text-center">
                  <h5 class="mt-5">HEY, THERE</h5> <small class="para">Login to your account below.</small>
              </div>
              <form class="signup" [formGroup]="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" formControlName="name"
                    [ngClass]="{ 'is-invalid': ( name.touched ) && name.errors }">
                    <div *ngIf="(name.touched) && name.errors" class="invalid-feedback">
                        <span *ngIf="name.errors.required">Field username is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': ( password.touched ) && password.errors }">
                    <div *ngIf="(password.touched) && password.errors" class="invalid-feedback">
                        <span *ngIf="password.errors.required">Field password is required</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="form.invalid">Login</button>
              </form>
          </div>
      </div>
  </div>
</div>