<h3> Purchase Order List</h3>
<div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Total Amout</th>        
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let purchase of list ; let index = index">
        <tr>
          <th scope="row">{{index + 1 }}</th>
          <td>{{user.name}}</td>
          <td>{{purchase.totalAmount}}</td>
          <td>{{purchase.status}}</td>
          <td><button type="button" class="btn btn-info mx-2" [routerLink]="['/app/purchases/edit-purchase', purchase.id]"> Details </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  