<div class="col mb-4">
<div class="card" >
    <img [src]="product.image" class="card-img-top img">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.code}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{product.price}} Bs.</h6>
      <p class="card-text">{{product.description}}</p>
    </div>
    <div class="card-footer justify-content-end">
        <a [routerLink]="['/app/products/edit-product', product.providerId ,product.id]"><i class="fas fa-edit"></i></a>
        <a class="mx-2" (click)="deleteProduct(product.id)"><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
