<div class="container">
  <h1>Order Details</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products; let i = index ">
      <th scope="row">{{i+1}}</th>
      <td> {{p.name}} </td>
      <td> {{p.price}} </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>{{amount}}</td>
    </tr>
    </tfoot>
  </table>

    <button class="btn btn-warning" style="display: block; width: 100%" (click)="pagar()">Pay &nbsp;  &nbsp; <i class="fas fa-money-bill"></i></button>
  <br>
    <button class="btn btn-secondary" style="display: block; width: 100%" (click)="goBack()">Cancel</button>
</div>
