<app-sidebar #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [menu] ="menuItems"></app-sidebar>
<div class="page-content p-5" [ngClass]="{ 'active': isCollapsed == true}">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" 
          (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample" >
         <i class="fa fa-bars mr-2"></i>
         <small class="text-uppercase font-weight-bold p-2">Menu</small>
     </button>
    <div class="row">
          <div class="col-12 col-md-12 col-sm-6 ">
               <router-outlet></router-outlet>
          </div>
     </div>  
  </div>
