<div class="col mb-4">
  <div class="card">
    <img [src]="product.image" class="card-img-top img">
    <div class="card-body" [ngSelectProduct]="selected" (click)="change()">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.code}}</h6>
      <p class="card-text">{{product.price}} Bs.</p>
    </div>
  </div>
</div>
