<div class="bg-dark" id="sidebar">
    <div class="px-3 pt-2 text-white">
        <div class="row justify-content-between p-2">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Menu</span>
            </a>
            <a href="/auth/logout" class="me-md-auto text-white text-decoration-none"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
        <ul class="nav nav-pills flex-column align-items-center align-items-sm-start" id="menu">
            <li class="nav-item " *ngFor="let item of menu; let even=even">
                <a [routerLink]="item.path" class="nav-link text-white align-middle"><i [ngClass]="[item.icon]"></i>
                  <span class="ms-1 d-none d-sm-inline-block px-2">{{item.title}} </span>
                </a>
          </li>
        </ul>
    </div>
</div>