#sidebar {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
  
#sidebar.active {
  margin-left: -17rem;
}

.nav-item a:hover,
.nav-item a:focus ,
.nav-item a:active{
  background-color: #4d79f3;
}
  