<modal-selected-products [selectedProducts]="productsSelected" (event)="quitProducts($event)"></modal-selected-products>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
    <app-product-item
      *ngFor="let product of products"
      [p]="product"
      #child> </app-product-item>
  </div>
</div>
