<form (ngSubmit)="addProduct()" [formGroup]="productForm">
    <div>
        <label for="">Name</label>
        <input class="form-control mb-2" type="text" formControlName="name" [ngClass]="{ 'is-invalid': ( name.touched ) && name.errors }">
        <div *ngIf="(name.touched ) && name.errors" class="invalid-feedback">
            <span *ngIf="name.errors.required">The name field is required</span>
        </div>
    </div>
    <div>
        <label for="">Code</label>
        <input class="form-control mb-2" type="text" formControlName="code" [ngClass]="{ 'is-invalid': ( code.touched ) && code.errors }">
        <div *ngIf="(code.touched || code.dirty) && code.errors" class="invalid-feedback">
            <span *ngIf="code.errors.required">The code field is required</span>
        </div>
    </div>
    <div>
        <label for="">Price</label>
        <input class="form-control mb-2" type="number" step="0.1" formControlName="price" [ngClass]="{ 'is-invalid': ( price.touched ) && price.errors }">
        <div *ngIf="(price.touched ) && price.errors" class="invalid-feedback">
            <span *ngIf="price.errors.required">The cost field is required</span>
        </div>
    </div>
    <div>
        <label for="">Description</label>
        <input class="form-control mb-2" type="text" formControlName="description">
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" class="form-control-file" (change)="fileChangeEvent($event)" formControlName="image" [ngClass]="{ 'is-invalid': ( image.touched ) && image.errors }">
        <div *ngIf="(image.touched ) && image.errors" class="invalid-feedback">
          <span *ngIf="image.errors.required">Debe seleccionar un archivo</span>
        </div>
    </div>
    <div class="pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Add Product</button>
        <a [routerLink] = "['/app/products/provider', idProvider]" class="mx-2">Back</a>
    </div>
</form>