<form (ngSubmit)="editProduct()" [formGroup]="productForm">
    <div class="form-group col-4" *ngIf="product">
        <img [src]="product.image" class="card-img-top img">
    </div>
    <div>
        <label for="">Name</label>
        <input class="form-control mb-2" type="text" formControlName="name" [ngClass]="{ 'is-invalid': ( name.touched ) && name.errors }">
        <div *ngIf="(name.touched ) && name.errors" class="invalid-feedback">
            <span *ngIf="name.errors.required">The name field is required</span>
        </div>
    </div>
    <div>
        <label for="">Code</label>
        <input class="form-control mb-2" type="text" formControlName="code" [ngClass]="{ 'is-invalid': ( code.touched ) && code.errors }">
        <div *ngIf="(code.touched || code.dirty) && code.errors" class="invalid-feedback">
            <span *ngIf="code.errors.required">The cellphone field is required</span>
        </div>
    </div>
    <div>
        <label for="">Price</label>
        <input class="form-control mb-2" type="number" step="0.1" formControlName="price" [ngClass]="{ 'is-invalid': ( price.touched ) && price.errors }">
        <div *ngIf="(price.touched ) && price.errors" class="invalid-feedback">
            <span *ngIf="price.errors.required">The cost field is required</span>
        </div>
    </div>
    <div>
        <label for="">Description</label>
        <input class="form-control mb-2" type="text" formControlName="description">
    </div>
    <div class="pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Edit Product</button>
        <a [routerLink] = "['/app/products/provider', idProvider]" class="mx-2">Back</a>
    </div>
</form>