<h3>Active Promotions</h3><br>
<div class="row row-cols-1 row-cols-md-4">
    <div *ngFor="let promotion of list">
        <div class="col mb-4">
            <div class="card" >
                <h3 class="card-header text-white bg-info">{{promotion.name}}</h3>
                <div class="card-body">
                    <h1 class="card-title text-center">{{promotion.discount}}</h1>
                </div>
                <div class="card-footer text-white bg-info text-center">
                    {{promotion.startDate | date: "dd/MM/yyyy"}} - {{promotion.endDate | date: "dd/MM/yyyy"}}
                </div>
            </div>
        </div>
    </div>
</div>
