<form (ngSubmit)="addProvider()" [formGroup]="providerForm">
    <div>
        <label for="">Name</label>
        <input class="form-control mb-2" type="text" formControlName="name" [ngClass]="{ 'is-invalid': ( name.touched ) && name.errors }">
        <div *ngIf="(name.touched ) && name.errors" class="invalid-feedback">
            <span *ngIf="name.errors.required">The name field is required</span>
        </div>
    </div>
    <div>
        <label for="">Cellphone</label>
        <input class="form-control mb-2" type="text" formControlName="cellphone" [ngClass]="{ 'is-invalid': ( cellphone.touched ) && cellphone.errors }">
        <div *ngIf="(cellphone.touched || cellphone.dirty) && cellphone.errors" class="invalid-feedback">
            <span *ngIf="cellphone.errors.required">The cellphone field is required</span>
            <span *ngIf="cellphone.errors.minlength">The minime size is 5 characteres</span>            
            <span *ngIf="cellphone.errors.maxlength">The minime size is 8 characteres</span>
        </div>
    </div>
    <div>
        <label for="">Company</label>
        <input class="form-control mb-2" type="text" formControlName="company" [ngClass]="{ 'is-invalid': ( company.touched ) && company.errors }">
        <div *ngIf="(company.touched ) && company.errors" class="invalid-feedback">
            <span *ngIf="company.errors.required">The company field is required</span>
        </div>
    </div>
    <div class="pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="providerForm.invalid">Add Provider</button>
        <a [routerLink] = "['/app/providers']" class="mx-2">Back</a>
    </div>
</form>